.calendars__data {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;

    &::-webkit-scrollbar {
        display: none;
    }

    & > .calendar {
        display: flex;
        justify-content: space-between;
        gap: 0.5vw;
        border-radius: 0.5vw;
        padding: 0.5vw;
        position: relative;

        &:hover {
            background: #f6f7f8;
        }

        &:hover > .calendar__tools {
            display: flex;
        }

        & > .calendar__tools {
            display: none;
            gap: 0.5vw;
            flex-direction: row;

            & > button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1vw;
                height: 1vw;
                background: transparent;
                border: none;
                cursor: pointer;

                &:hover {
                    & > img {
                        filter: invert(0.5);
                    }
                }

                &:active {
                    & > img {
                        filter: invert(0.8);
                    }
                }

                & > img {
                    pointer-events: none;
                    width: 0.7vw;
                    height: 0.7vw;
                }
            }
        }

        & > .modal {
            top: 2.25vw;
            left: 0vw;
            z-index: 10;
            position: absolute;
        }
    }
}
