.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;

    font-family: "Roboto", sans-serif;

    & > label {
        font-size: 1vw;
        font-weight: bold;
        margin-bottom: 0.5vw;
    }

    & > textarea {
        outline: none;
        border: none;
        border-bottom: 0.1vw solid #737373;
        padding: 0;
        font-size: 0.8vw;
    }
}
