.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    font-family: "Roboto", sans-serif;

    & > label {
        font-size: 0.6vw;
        font-weight: bold;
        margin-bottom: 0.5vw;
    }

    & > textarea {
        outline: none;
        border: none;
        border-bottom: 0.1vw solid #737373;
        padding: 0;
        font-size: 0.8vw;
        width: 100%;
        resize: none;
        padding-bottom: 0.25vw;
        max-height: 5vw;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
