.calendar-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: start;

    & > .calendar-page__data {
        display: flex;
        flex-direction: row;
        padding: 2vw 4vw;
        gap: 2vw;
    }
}
