.checkbox-container {
    user-select: none;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.4vw;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    & > .checkbox-container__input {
        position: relative;
        display: flex;

        & > input {
            margin: 0;
            top: 0;
            left: 0;
            width: 1vw;
            height: 1vw;
            appearance: none;
            background: transparent;
            border: 0.15vw solid transparent;
            border-radius: 0.15vw;
            cursor: pointer;
        }

        & > img {
            pointer-events: none;
            position: absolute;
            top: 20%;
            left: 20%;
            width: 60%;
            height: 60%;
            filter: invert(1);
            display: none;
        }
    }

    & > label {
        font-size: 0.8vw;
        width: 100%;
    }
}
