.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1vw;

    & > .calendars {
        background: white;
        box-shadow: 0 0.4vw 0.4vw 0 #0000001a;
        border-radius: 0.5vw;
        padding: 1vw;
        width: 12.5vw;

        &::-webkit-scrollbar {
            display: none;
        }

        & > header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > p {
                font-size: 0.8vw;
                font-weight: bold;
                margin: 0;
            }

            & > button {
                cursor: pointer;
                width: 0.8vw;
                height: 0.8vw;
                display: flex;
                justify-content: center;
                align-items: center;
                background: white;
                padding: 0.5vw;
                border-radius: 50%;
                outline: none;
                border: none;
                transition: background 0.1s;

                &:hover {
                    background: #e7e7e7;
                }

                &:active {
                    background: #dcdcdc;
                }

                &:disabled {
                    cursor: not-allowed;
                    background: white;
                }

                & > img {
                    width: 0.8vw;
                    height: 0.8vw;
                }
            }
        }
    }

    & > .modals {
        position: fixed;
        top: 50%;
        left: 57.5%;
        transform: translate(-50%, -50%);
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: red;

        & > .create-edit-event-modal {
            z-index: 10;
            position: absolute;
            width: 30vw;
            transform: translateY(-50%);
        }

        & > .create-edit-calendar-modal {
            z-index: 10;
            position: absolute;
            width: 15vw;
            transform: translateY(-50%);
        }
    }
}
